<app-my-header title="Alerts"></app-my-header>

<ion-content>
  <ion-text color="primary">
    <h3>REMEMBER THAT YOU CANNOT MIX THE TYPES OF INPUTS</h3>
  </ion-text>
  <ion-button (click)="presentAlert()" expand="block">
    Simple
  </ion-button>
  <ion-button (click)="presentAlertMultipleButtons()" expand="block">
    MultiButtons
  </ion-button>
  <ion-button (click)="presentAlertPrompt()" expand="block">
    Inputs
  </ion-button>
  <ion-button (click)="presentAlertCheckBox()" expand="block">
    Inputs Checks
  </ion-button>
  <ion-button (click)="presentAlertRadio()" expand="block">
    Inputs Radio
  </ion-button>

</ion-content>
