<ion-header>
  <ion-toolbar>
    <ion-title>Avatar</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
        <img src="../../../assets/imgs/DSC_0466.JPG" />
        <!-- [NOTE] ion-img load the images with lazy load -->
        <!-- <ion-img src="../../../assets/imgs/DSC_0466.JPG"></ion-img> -->
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content>

</ion-content>
