<app-my-header title="Cards"></app-my-header>

<ion-content>

  <!-- [i] card_ios -->
  <h3>Ios mode</h3>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <!-- [i] card_android -->
  <h3>Android mode</h3>
  <ion-card mode="android">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <!-- [i] card_img -->
  <h3>Card with image</h3>
  <ion-card>
    <img
      src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=1.00xw:0.669xh;0,0.190xh&resize=640:*"
      alt="Image of the Card" srcset="">
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta incidunt beatae, amet nesciunt recusandae laborum
      debitis ratione architecto reprehenderit! Corrupti dolorum, numquam dolores dolore architecto aperiam! Repellat,
      maiores totam. Labore!
    </ion-card-content>
  </ion-card>

  <!-- [i] card_custom -->
  <h3>Custom Styles</h3>
  <ion-card class="custom">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Awesome Label</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repellendus quis nostrum atque hic. Aperiam totam
      maiores quibusdam itaque aliquam vitae ex numquam modi. Repellat doloribus delectus aliquid totam eligendi?
    </ion-card-content>
  </ion-card>



</ion-content>
